# name:Rushikesh dane

# Question1

Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [1]:
"""n= 5
lis= [6,7,8,9]
lis.append(n)
lis"""

[6, 7, 8, 9, 5]

In [2]:
def next_in_line(list1,n):
    list1.remove(list1[0])
    list1.append(n)
    return list1

In [3]:
next_in_line([1, 10, 20, 42],6)

[10, 20, 42, 6]

# Question2

Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples

get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },

{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },

{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700

get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },

{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },

{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600

In [4]:
"""a=[ { "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 } ]
count = 0
for i in a :
    if type(i)== dict : 
        for key ,value in i.items():
            if key == "budget":
                count += value
print(count)"""

'a=[ { "name": "John", "age": 21, "budget": 23000 },\n{ "name": "Steve", "age": 32, "budget": 40000 },\n{ "name": "Martin", "age": 16, "budget": 2700 } ]\ncount = 0\nfor i in a :\n    if type(i)== dict : \n        for key ,value in i.items():\n            if key == "budget":\n                count += value\nprint(count)'

In [5]:
"""b = { "name": "John", "age": 21, "budget": 23000 }
for key , value in b.items():
    if key == "budget":
        print(value)"""

'b = { "name": "John", "age": 21, "budget": 23000 }\nfor key , value in b.items():\n    if key == "budget":\n        print(value)'

In [6]:
def get_budgets(list_of_dictionary):
    count = 0
    for i in list_of_dictionary :
        if type(i)== dict : 
            for key ,value in i.items():
                if key == "budget":
                    count += value
    return count

In [7]:
get_budgets([ { "name": "John", "age": 21, "budget": 29000 },

{ "name": "Steve", "age": 32, "budget": 32000 },

{ "name": "Martin", "age": 16, "budget": 1600 } ])

62600

# Question3

Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples

alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;

alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;

alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;

alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;

alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [9]:
def alphabet_soup(string):
    a = list(string)
    a.sort()
    b = "".join(a)
    return(b)

In [10]:
alphabet_soup("hacker")

'acehkr'

# Question4

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?

Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.

For the example above:
    
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.

A = P(1 + \frac{r}{n})^{nt}

A	=	final amount

P	=	initial principal balance

r	=	interest rate

n	=	number of times interest applied per time period

t	=	number of time periods elapse

In [11]:
"""p = 10000
t = 10
r = 0.06
n=12

A =(p * (1+r/n)**(n*t))
round(A,2)"""

'p = 10000\nt = 10\nr = 0.06\nn=12\n\nA =(p * (1+r/n)**(n*t))\nround(A,2)'

In [2]:
def compound_interest(P,t,r,n):
    A =(P * (1+r/n)**(n*t))      # compound intrest formula
    return round(A,2)

In [4]:
compound_interest(10000,10,0.06,12)

18193.97

# Question5

Write a function that takes a list of elements and returns only the integers.
Examples

return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]
return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]
return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]
return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]

In [14]:
def filter_list(lst1):
    new_list=[]
    for i in lst1 :
        
        if type(i) == int :
            new_list.append(i)
    return new_list

In [15]:
filter_list(["String", True, 3.3, 1])

[1]