# name : rushikesh dane

# Question 1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [61]:
def is_symmetrical(n):
    n = str(n)
    if n == n[::-1]:
        return True
    else:
        return False

In [62]:
is_symmetrical(1112111)

True

# Question 2

Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 2
4
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [63]:
#'[0-9]+'

In [64]:
def multiply_num(string):
    numbers = re.findall('[-+]?\d+', string)
    integer_map = map(int, numbers)
    integer_list = list(integer_map)
    product = 1
    for i in integer_list:
        product = product *i
    return product

In [65]:
multiply_num("10,-2")

-20

# Question 3

Create a function that squares every digit of a number.
Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes
The function receives an integer and must return an integer.

In [66]:
def squre_digitis(a):
    a = str(a)
    b=[]
    for i in a :
        if (i.isalnum()) == True :
            b.append(int(i))
    for i in b :
         print(i**2,end="")

In [67]:
squre_digitis(3212)

9414

# Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [68]:
def setify(list1):

    s = set(list1)
    s =list(s)
    s.sort()
    return s

In [69]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [71]:
"""o  = 666
map1 = map(int,str(o))
l = list(map1)
l"""

'o  = 666\nmap1 = map(int,str(o))\nl = list(map1)\nl'

In [72]:
"""count = 0
for i,v in enumerate(l):
    count+= v
    b= i+1
print(b)
count
print(count/b)"""

'count = 0\nfor i,v in enumerate(l):\n    count+= v\n    b= i+1\nprint(b)\ncount\nprint(count/b)'

In [73]:
def mean(n):
    
    map1 = map(int,str(n))
    l = list(map1)
    count = 0
    for i,v in enumerate(l):
        count+= v
    count
    b= i+1

    return int(count/b)

In [74]:
mean(12345)

3